.logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  pointer-events: none; }

.logo--disable {
  visibility: hidden; }

.logo--hidden {
  opacity: 0; }

.logo--active {
  position: fixed;
  top: 0;
  height: 100%; }

.logo-svg {
  margin-top: auto;
  margin-bottom: 1vw;
  width: 100%; }

.logo__graphic {
  margin: auto;
  width: 100%;
  will-change: transform; }
